{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Страница не найдена | Panfcate
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center" style="height: 75vh;">
        <div class="col-9 col-xl-4 col-lg-5 col-md-6 col-sm-8  d-flex flex-column justify-content-center align-items-center my-4">
            <h1 class="display-1"><strong>404</strong></h2>
            <p class="lead text-center">Страница не найдена</p>
        </div>
    </div>
</div>
{% endblock %}
